:host {
  p-card:first-child {
    margin-bottom: 12px;
  }

  .title {
    font-size: 18px;
  }

  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .dashboard {
      width: 140px;
      text-align: center;
      border: 1px solid darkgray;
      border-radius: 8px;
      padding: 12px 0;

      &__total {
        font-size: 32px;
        margin-bottom: 12px;
      }
    }
  }
}
